
data/
!data/.gitkeep

data/models/
!data/models/.gitkeep

data/datainput/
!data/datainput/.gitkeep

data/temp/
!data/temp/.gitkeep

data/temp/bash/
!data/temp/bash/.gitkeep

data/temp/word_dictionaries/
!data/temp/word_dictionaries/.gitkeep

data/dataoutput/
!data/dataoutput/.gitkeep
